# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiohttp
aiosignal
ansitable
anyio
argon2-cffi
async-timeout
async_generator
attrs
autobahn
backcall
backports
backports.functools_lru_cache
bleach
brotli
brotli-bin
bullet
bullet-cpp
ca-certificates
certifi
cffi
charset-normalizer
colorama
colored
cryptography
cvxopt
cycler
cython
debugpy
decorator
defusedxml
dsdp
ecos
entrypoints
ffmpeg
fftw
fonttools
freeglut
freetype
frozenlist
glpk
gsl
hyperlink
icu
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib_resources
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jasper
jbig
jedi
jinja2
jpeg
jsonschema
jupyter
jupyter-server-proxy
jupyter_client
jupyter_console
jupyter_core
jupyter_server
jupyterlab_pygments
jupyterlab_widgets
kiwisolver
lcms2
lerc
libblas
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libclang
libdeflate
liblapack
liblapacke
libopencv
libpng
libprotobuf
libsodium
libtiff
libwebp-base
libzlib
lz4-c
markupsafe
matplotlib-base
matplotlib-inline
mistune
mkl
mpmath
multidict
munkres
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
numpy-stl
olefile
opencv
openjpeg
openssl
osqp
packaging
pandoc
pandocfilters
parso
pgraph-python
pickleshare
pillow
pip
progress
prometheus_client
prompt-toolkit
prompt_toolkit
py-opencv
pybullet
pycparser
pygments
pyparsing
pyqt
pyqt-impl
pyqt5-sip
pyqtchart
pyqtwebengine
pyrsistent
python
python-dateutil
python-utils
python_abi
pywin32
pyyaml
pyzmq
qdldl-python
qpsolvers
qt
qtconsole
qtpy
quadprog
rtb-data
scipy
send2trash
setuptools
simpervisor
six
sniffio
spatialgeometry
spatialmath-python
sphinxcontrib-jsmath
sqlite
sympy
tbb
terminado
testpath
tk
tornado
traitlets
txaio
typing-extensions
typing_extensions
unicodedata2
vpython
wcwidth
webencodings
websocket-client
websockets
wheel
widgetsnbextension
xz
yaml
yarl
zeromq
zipp
zlib
zstd
